<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<RunConfiguration>
		<ResultsDirectory>.\TestResults</ResultsDirectory>
		<TargetPlatform>x64</TargetPlatform>
		<TestSessionTimeout>10000</TestSessionTimeout>
	</RunConfiguration>

	<GoogleTestAdapterSettings>
		<SolutionSettings>
			<Settings />
		</SolutionSettings>
		<ProjectSettings>
			<Settings />
		</ProjectSettings>
	</GoogleTestAdapterSettings>

	<DataCollectionRunSettings>
		<DataCollectors>
			<DataCollector friendlyName="Code Coverage" uri="datacollector://Microsoft/CodeCoverage/2.0" assemblyQualifiedName="Microsoft.VisualStudio.Coverage.DynamicCoverageDataCollector, Microsoft.VisualStudio.TraceCollector, Version=11.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
				<Configuration>
					<CodeCoverage>
						<ModulePaths>
							<Include>
								<ModulePath>.*\.exe</ModulePath>
								<ModulePath>.*\.dll</ModulePath>
							</Include>
							<Exclude>
								<ModulePath>.*gtest.*</ModulePath>
								<ModulePath>.*gmock.*</ModulePath>
							</Exclude>
						</ModulePaths>
					</CodeCoverage>
				</Configuration>
			</DataCollector>
		</DataCollectors>
	</DataCollectionRunSettings>
</RunSettings>